header{
    display: grid;
    align-items: center;
    font-family: 'Major Mono Display', monospace;
    margin-bottom: 20px;
    width: auto;
    height: 300px;
}
#img-div{
    display: grid;
    justify-content: center;  
}
#image{
    max-width: 145px;
    height: auto;
    margin-bottom: 10px;
}
#img-caption{
    font-size: 10px;
    text-align: center;
}
#title{   
    margin: auto;
    font-size: 16px;
    text-align: center;
}
#tribute-info{
    font-family: 'Raleway', sans-serif;
    margin: auto;
    padding: 40px;
    border: 1px solid black;
    border-radius: 50px;
    height: auto;
    width: 75%;
}
